<div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">List of Documents</div>
      <div class="panel-body">
        <table class="table table-hover">
            <thead>
              <tr>
                <th>No.</th>
                <th>File Name </th>
                <th>Type</th>
                <th>Description</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let document of documents">
                <td>{{document.fileName}}</td>
                <td>{{document.fileName}}</td>
                <td>{{document.fileName}}</td>
                <td>{{document.description}}</td>
              </tr>
            </tbody>
          </table>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">Upload New Document</div>
      <div class="panel-body">
        <form name="form" action="/upload" method="post" enctype="multipart/form-data" (ngSubmit)="f.form.valid && upload()" #f="ngForm" novalidate  *ngIf="!dataSubmitted">
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !fileName.valid }">
            <label for="fileName">Upload a document</label>
            <input type="file" (change)="onFileChange($event)" class="form-control" name="fileName" [(ngModel)]="model.fileName" #fileName="ngModel" required />
            <div *ngIf="f.submitted && !fileName.valid" class="help-block">Please upload a file</div>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !description.valid }">
            <label for="description">Description</label>
            <input type="text" class="form-control" name="description" [(ngModel)]="model.description" #description="ngModel" required />
            <div *ngIf="f.submitted && !description.valid" class="help-block">Description is required</div>
        </div>
        <div class="form-group">
            <button [disabled]="loading" class="btn btn-primary">Upload</button>
            <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
        </div>
    </form>
      </div>
    </div>   
</div>